.container {
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url('./marriagePactBackground.png');
    overflow-y: scroll;
}