.questionContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.indexButtons {
    margin-left: 10px;
    margin-right: 10px;
}

.responseLabelText {
    font-size: 40;
}